@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "WorkSans";
  src: url("/fonts/WorkSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

.round-image-padding {
  border-radius: 50%;
  border: 1.5px solid white;
  padding: 1px;
}

.img-down-arrow::after {
  
}